

.navbar-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #FD9255; 
  display: flex;
  justify-content: center;
}

.navbar {
  width: min(1145px, 100vw);
  height: 138px;
  display: inline-grid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
}
.navbar-logo{
  width: 97px;
  height: 97px;
}

.navbar-items {
  display: flex;
  list-style: none;
  gap: 20px;
} 

.navbar-item {
  margin-right: 10px;
  font-size: 18px;
  color: #FFFFFF;
}