.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 138px;
  width: calc(100vw - 40px);
  margin-inline: 20px;
}

.title{
  text-align: center;
  margin-top: 140px;
  margin-bottom: 140px;
  line-height: normal;
}

.title > h1{
  font-weight: normal;
  font-size: 48px;
}

.title > p{
  font-size: 16px;
  max-width: 456px;
  margin-inline: auto;
}

.store-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 40px;
  width: min(calc(1275px - 80px), calc(100vw - 80px));
}

.store-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: min(1275px, 100vw);
  gap: 35px;
}

.store-container > .btn-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 40px;
}

.store-container > .btn-container > button{
  width: 200px;
  height: 60px;
  border: 2px solid #FD9255;
  background-color: transparent;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
}

@media (max-width: 500px) {
  .store-container > .btn-container > button{
    margin-inline: auto;
    margin-bottom: 40px;
  }
}

.store-container > .btn-container > button:hover{
  background-color: #FD9255;
}