.summary-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.summary-container > h2{
  font-size: 36px;
  font-weight: normal;
}

.summary-table{
  background-color: #F9F9F9;
  padding: 35px;
  width: max(25vw, 320px - calc(35px * 2));
  font-size: 16px;
  text-align: left;
}

.summary-table > li{
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 25px;
}