.footer-container{
  position: static;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #FD9255; 
  display: flex;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 140px;
}

.footer{
  width: min(calc(1275px - 80px), calc(100vw - 80px));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  color: #fff;
  margin-inline: 40px;
}

.footer-col{
  font-size: 16px;
  word-wrap: break-word;
}

.social-container{
  display: flex;
  margin-top: 40px;
}

.social-item {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.social-item > img {
  position: absolute;
}

.footer-col:first-child{
  width: min(320px, 75%);
}

.footer-col > p {
  max-width: 90%;
}

.footer-col > h3{
  font-weight:  normal;
  font-size: 24px;
  padding-bottom: 20px;
  margin: 0;
}

.footer-col > ul, h3{
  list-style: none;
  padding-inline: 0;
  line-height: 45px;
}

.footer-col > ul > li{
  font-weight:  normal;
  font-size: 15px;
}

.footer-col > ul > img{
  margin-top: 15px;
}